.signForm h2 {
    text-align: center;
}
.signupStepForm {
    display: flex;
    justify-content: center;
}
.signupStepForm .interest_list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 1024px;
}

.signupStepForm .interest_list span{
}

.signupStepForm .interest_info {
    flex: 1 1 calc(25% - 20px);
    max-width: 250px;
    max-height: 140px;    
}
.signupStepForm .interest_img {
    max-width: 250px;
    max-height: 140px;    
    position: relative;
}
.signupStepForm .interest_img img {
    width: 100%;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
}


.interest_img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검정색 반투명 */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; /* 이미지 위에 표시 */
    pointer-events: none; /* 가상 요소로 인해 클릭 차단 방지 */
}
.interest_img.selected::after {
    opacity: 1;
}


/* step */

.signupStepForm .user_photo_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signupStepForm .user_photo_wrap img{
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.signupStepForm .user_photo_wrap label#id_photo{
    cursor: pointer;
}
.signupStepForm .user_photo {
    width: 150px;
    height: 150px;
}


.signupStepForm.step1 .signupStep2, .signupStepForm.step1 .signupStep3 {
    display: none;
}
.signupStepForm.step2 .signupStep1, .signupStepForm.step2 .signupStep3 {
    display: none;
}
.signupStepForm.step3 .signupStep1, .signupStepForm.step3 .signupStep2 {
    display: none;
}

