### Django ###
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal
__pycache__/
local_settings.py
media

node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.development
.env.test
.env.production
README.md
.next
.vscode
coverage
dist
build
