{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/account/mypage.css" %}">
<script src="{% static 'js/account/mypage.js' %}"></script>
{% endblock %}
{% block content %}
<div class="mypageContainer">
    <div class="mypage_wrap" id="wrap1">
        <div class="user_photo"></div>
        <div class="user_info">
            <a href="{% url 'front:edit_account' %}">
                <button>편집하기</button>
            </a>
        </div>
        <div>
            <div class="owned_game">
                <h1>보유 게임</h1>
            </div>
            <div class="recent_game">
                <h1>최근플레이 게임</h1>
            </div>
        </div>
    </div>
</div>

{% endblock content %}