{% extends "base.html" %}
{% load static %}
{% block extrahead %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/account/sign.css" %}"> {% endcomment %}
<script src="{% static 'js/sign.js' %}"></script>
{% endblock %}
{% block content %}
<div class="signContainer">
    <div class="signForm signupForm">
        <h2>회원가입</h2>
        <form action="{% url "accounts:signup" %}" method="POST">
            {% csrf_token %}
            <input type="text" name="user_id" autofocus="" placeholder="아이디를 입력해주세요" id="id_user_id">
            <p class="error_msg user_id"></p>
            <input type="password" name="password" autocomplete="current-password" placeholder="비밀번호를 입력해주세요" id="id_password">
            <p class="error_msg password"></p>
            <input type="password" name="confirm_password" autocomplete="current-password" placeholder="비밀번호를 한번더 입력해주세요" id="id_confirm_password">
            <p class="error_msg confirm_password"></p>
            <input type="text" name="age" placeholder="나이를 입력해주세요" id="id_age">
            <p class="error_msg age"></p>
            <input type="text" name="nickname" placeholder="닉네임을 입력해주세요" id="id_nickname">
            <p class="error_msg nickname"></p>
            <input type="email" name="email" placeholder="이메일을 입력해주세요" id="id_email">
            <p class="error_msg email"></p>
            <input type="submit" value="회원가입">
            <span class="error_msg"></span>

        </form>
    </div>
</div>

{% endblock content %}